img{width:200px;
height:500px;}

#carousel{margin: 5%;}

#images{width: 500px;
height:300px;}

#buttons{margin:auto;}

#title{background-color: rgb(197, 13, 13);
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#images{width: 600px;
height: 600px;}